*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212042;
}

.custom-navbar {
    background: #212042;
    color: #F2CEFF;
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-navbar .navbar-brand {
    color: azure;
    text-decoration: none;
}

.custom-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.custom-nav .nav-item {
    margin-right: 20px;
}

.custom-nav .nav-link {
    text-decoration: none;
    color: #F2CEFF;
    font-size: 16px;
    text-transform: uppercase;
}

.custom-nav .nav-link:hover {
    color: #F2CEFF;
    background: #f0f0f063;
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
}

.text-center {
    text-align: center;
    color: azure;
}

p{
    margin: 20px 4%;
    text-align: center;
    color: azure;  
}

.mt-4 {
    margin-top: 20px;
}
