/* Estilos para a página de confirmação de email enviado */
.card {
    border-top: 5px solid  rgb(176,106,252);
    background: #212042;
    color: #57557A;
}

.division span {
    font-weight: 600;
    font-size: 24px;
    color: #F2CEFF;
}

.text-center {
    text-align: center;
    margin-top: 40px;
}

.btn-lilac {
    background: linear-gradient(135deg, rgba(176,106,252,1) 39%, rgba(116,17,255,1) 101%);
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.btn-lilac:focus {
    box-shadow: none;
    border: none;
}
