{% extends 'main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'flogin.css' %}">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card py-3 px-2">
                    <div class="division">
                        <div class="row">
                            <div class="col-12 text-center"><span>LOGIN</span></div>
                        </div>
                    </div>
                    <form class="myform" method="post" action="/dlogin/">
                        {% if msg %}
                            <div class="alert {{class}}">
                                {{msg}}
                            </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="user" id="user" placeholder="Nome de Usuário:">
                            <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Senha:">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                      <!--  <div class="form-group mt-2">
                            <label for="user-type">Selecione o Tipo:</label>
                            <select class="form-control" id="user-type" name="user-type">
                                <option value="proprietario">Proprietário</option>
                                <option value="aluno">Aluno</option>
                                <option value="afiliado">Afiliado</option>
                            </select>
                        </div> -->
                        
                        <div class="text-center mt-4">
                            <input class="btn btn-primary btn-lg" type="submit" value="Entrar">
                        </div>
                        <p class="mb-0 mt-4 text-center">
                            Esqueceu sua senha? <a href="{% url 'password_reset' %}" class="link">Clique aqui</a> para redefinir.
                        </p>
                        <p class="mb-0 mt-4 text-center">
                            Ainda não possui Cadastro? <!-- Deixe este texto como comentário -->
                        <a href="{% url 'cadusuario' %}" class="link">Inscreva-se!</a>                     
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

