{% extends 'main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'recuperar_senha.css' %}">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card py-3 px-2">
                    <div class="division">
                        <div class="row">
                            <div class="col-12 text-center"><span>Recuperar Senha</span></div>
                        </div>
                    </div>
                    <form method="post" action="{% url 'reset_password' %}" class="myform">
                        {% csrf_token %}
                        <div class="form-group mt-4 text-center">
                            <p>Informe o seu email para cadastrar uma nova senha.</p>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            <i class="input-icon uil uil-envelope"></i>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-lilac btn-lg" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
